body{
    background: #ececec;
}
.submit{
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
    background-color: skyblue;
    border-color: black;
    color: black;
    margin-top: 40px;
}
.loading{
    margin: auto;
    display: block;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.item-img{
    width: 200px
}
.product-container-full{
    width: 600px;
    margin: auto;
}
.product-container{
    width: 100%;
    margin: 0 -15px;
}
.product-container .product-list-view{
    width: calc(25% - 30px);
    padding: 0 15px;
    display: inline-block;
    margin-bottom: 10px;
}
.bg-white{
    background: #fff;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.bg-white:hover{
    box-shadow: 0 5px 5px #ddd;
}
.overlay{
    display: none;
}
.bg-white:hover .overlay,.overlay-active{
    background: rgba(88, 186, 133, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: block;
}
.overlay span,.overlay-active span{
    background: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 6px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    height: 15px;
    right: 0;
    width: 55px;
    text-align: center;
}
.product-list-thumb{
    width: 100%;
    position: relative;
}
.product-list-thumb img{
    height: 70px;
    margin: auto;
    width: auto;
    display: block;
    padding: 30px 10px;
}
.product-footer{
    padding: 10px;
}
.product-item-name{
    display: inline-block;
    font-size: 14px;
}
.product-item-price{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: green;
}
.product-item-description{
    margin-top: 5px;
    font-size: 12px;
    color: #777;
}
.add-remove-button{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: #4267b2;
    border-color: #29487d;
    color: #fff;
    border: 1px solid #ccd0d5;
    font-size: 13px;
}