.item-img{
    /* width: 200px */
}
.product-container-full{
    width: 800px;
    margin: auto;
}
.category-label{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-container{
    margin: 0 -25px;
}
.product-container .product-list-view{
    width: calc(33% - 30px);
    margin: 0 4px;
    display: inline-flex;
    margin-bottom: 10px;
    height: 410px;
}
.bg-white{
    position: relative;
    cursor: pointer;
    padding: 20px;
    border: 1px solid transparent;
}
.bg-white:hover{
    border: 1px solid #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
}
.overlay{
    display: none;
}
.bg-white:hover .overlay,.overlay-active{
    display: block;
    position: absolute;
    bottom: 5%;
    width: 82%;
}
.overlay div,.overlay-active div{
    font-size: 11px;
    text-align: center;
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 600;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
}
.product-list-thumb{
    width: 100%;
    position: relative;
}
.product-list-thumb img{
    height: 200px;
    /* margin: auto; */
    width: 100%;
    display: block;
    /* padding: 30px 10px; */
}
.product-footer{
    padding-top: 10px;
}
.product-item-name{
    /* display: inline-block; */
    font-size: 17px;
    font-weight: 500;
}
.product-item-food-type{
    /* display: inline-block; */
    font-size: 13px;
    color: #686b78;
    margin-top: 4px;
}
.product-item-triplet{
    margin-top: 18px;
    display: flex;
    color: #535665;
    font-size: 10px;
    text-transform: uppercase;
}
.flex-value{
    flex: 0.15;
}
.flex-gap{
    flex: 0.07;
}
.product-item-rate{
    flex: 0.30;
}
.product-item-price{
    flex: 0.25;
}
.product-item-description{
    flex: 0.50;
}
.star-tag{
    padding: 5px;
    color: #fff;
}
.star-img{
    height: 11px;
    width: 11px;
    margin-right: 3px;
}
.red-tag{
    background-color: #db7c38;
}
.green-tag{
    background-color: #48c479;
}

.show-more{
    width: calc(20% - 30px);
    margin: 20px 4px;
    display: inline-flex;
    height: 190px;
    border: 3px solid #db7c38;
    position: absolute;
    cursor: pointer;
}
.show-more span{
    color: #db7c38;
    position: absolute;
    bottom: 45%;
    right: 35%;
    font-weight: 600;
}