body{
    background: #ececec;
}
.item-img{
    /* width: 200px */
}
.product-container-full{
    width: 800px;
    margin: auto;
}
.category-label{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-container{
    /* width: 100%; */
    margin: 0 -25px;
}
.product-container .product-list-view{
    width: calc(33% - 30px);
    margin: 0 4px;
    display: inline-flex;
    margin-bottom: 10px;
}
.bg-white{
    /* background: #fff; */
    /* width: 100%; */
    position: relative;
    cursor: pointer;
    padding: 20px;
    border: 1px solid transparent;
}
.bg-white:hover{
    border: 1px solid #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
}
.overlay{
    display: none;
}
.bg-white:hover .overlay,.overlay-active{
    /* background: rgba(88, 186, 133, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; */
    display: block;
}
.overlay span,.overlay-active span{
    /* background: #fff; */
    font-size: 11px;
    text-transform: uppercase;
    /* padding: 3px 6px; */
    position: absolute;
    /* top: 0; */
    left: 0;
    margin: auto;
    bottom: 0;
    /* height: 15px; */
    right: 0;
    /* width: 55px; */
    text-align: center;
}
.product-list-thumb{
    width: 100%;
    position: relative;
}
.product-list-thumb img{
    height: 200px;
    /* margin: auto; */
    width: 100%;
    display: block;
    /* padding: 30px 10px; */
}
.product-footer{
    padding-top: 10px;
}
.product-item-name{
    /* display: inline-block; */
    font-size: 17px;
    font-weight: 500;
}
.product-item-food-type{
    /* display: inline-block; */
    font-size: 13px;
    color: #686b78;
    margin-top: 4px;
}
.product-item-triplet{
    margin-top: 18px;
    display: flex;
    font-size: 13px;
}
.flex-value{
    flex: 0.25;
}
.flex-gap{
    flex: 0.10
}
.product-item-rate{
    
}
.product-item-price{
    
}
.product-item-description{
    
}
.star-tag{
    padding: 5px;
    color: #fff;
}
.red-tag{
    background-color: #db7c38;
}
.green-tag{
    background-color: #48c479;
}